body{
    font-family: 'Montserrat',sans-serif;
    background: #c0dec4;
}

#logo{
    size: 5px;
    width: 25%;
    margin: 15px;

}

h1 {
    text-align: center;
}

#resumo{
    font-size: 20px;
    text-align: center;
}
p strong{
    color: red;
}
